<h1><%= question_header(@question) %></h1>
<%= form_with model: [@test, @question], data: {turbo: false} do |form| %>
  <%= render "errors", object: @question %>
  <p>
    <%= form.label :body, "Question" %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>
