<tr>
<td>
  <%= insert_badge_image(badge.url, badge.title) %>
</td>
<td>
  <%= badge.title %>
</td>
<td>
  <% if badge.rule == 'category' %>
    <%= Category.find(badge.parameter).title %>
  <% elsif badge.rule == 'test' %>
    <%= Test.find(badge.parameter).title %>
  <% else %>
    <%= badge.parameter %>
  <% end %>
</td>
<td>
  <%= link_to t('.edit'), edit_admin_badge_path(badge), class: 'btn btn-primary' %>
</td>
<td>
</td>
<td>
  <%= button_to t('.delete'),
  admin_badge_path(badge),
  method: :delete,
  data: {
    turbo_method: :delete,
  },
  class: 'ml-auto btn btn-danger' %>
</td>
</tr>
