<%= form.fields_for :badge do |badge_form| %>
  <div>
    <% if rule.badge.image.attached? %>
      <%= badge_form.hidden_field :image, multiple: false, value: rule.badge.image.signed_id %>
      <div class='d-flex gap-2 align-items-start'>
        <%= image_tag(rule.badge.image, height: 150) %>
        <%#= button_to '', remove_image_badge_path(badge), data: { turbo_method: :delete }, class: 'btn btn-sm btn-danger bi bi-trash' %>
      </div>
    <% end %>
    <div class=''>
      <%= badge_form.label 'Select image' %>
      <%= badge_form.file_field :image, multiple: false,
            class: 'form-control mt-n2' %>
    </div>
  </div>
<% end %>