<div id="<%= dom_id rule %>" class="card text-bg-light mb-3">
  <div class ='card-header d-flex'>
    <%= content_tag(:div) do %>
      <% if rule.category %>
        <h5 class="card-title bg-success-subtle"> <%= rule.category.title %></h5>
      <% elsif rule.test %>
        <h5 class="card-title">  <%= rule.test.title %></h5>
      <% else %>
        <h5 class="card-title"> ???</h5>
      <% end %>
    <% end %>
    <div  class='d-flex ms-auto gap-1'>
      <%= link_to '', edit_admin_rule_path(rule), class: 'btn btn-primary bi bi-pen btn-sm' %>
      <%= button_to '', admin_rule_path(rule), method: :delete, class: 'btn btn-danger btn-sm bi bi-trash' %>
    </div>
  </div>
  <div class="card-body d-flex flex-column">
    <div class='font-weight-light'>
      <%= rule.title %>
    </div>
    <div class="card-text d-flex justify-content-center align-items-center">
      <% if rule.badge %>
        <% if rule.badge.image.attached? %>
          <%= image_tag rule.badge.image, style: 'width: 100%' %>
        <% end %>
      <% else %>
        <i class='bi bi-ban'></i>
      <% end %>
    </div>
  </div>
</div>