<%= form_with(model: badge) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div>
    <% if badge.image.attached? %>
      <%= form.hidden_field :image, multiple: false, value: badge.image.signed_id %>
      <%= image_tag(badge.image, height: 200) %>
      <%= link_to '', remove_image_badge_path(badge), data: { turbo_method: :delete }, class: 'bi bi-trash' %>
    <% end %>
    <p>
      <%= form.file_field :image, multiple: false %>
    </p>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>