<li class="question mb-3">
    <div class="question-body">
        <div class="d-flex gap-2">
            <%= link_to question.body, admin_question_path(question), class: 'ml-auto' %>
            <%= link_to '', edit_admin_question_path(question), class: 'btn btn-sm btn-primary bi bi-pencil'  %>
            <%= link_to '', admin_question_path(question), data: { turbo_method: :delete, turbo_confirm: t('confirm_delete') }, class: 'btn btn-sm btn-danger bi bi-trash' %>
        </div>
    </div>
    <ul>
        <% question.answers.each do |ans| %>
        <li class="question-answer">
            <% if !ans.correct %>
            <%= ans.body %>
            <% else %>
            <strong>
                <%=ans.body %></strong>
            <% end %>
        </li>
        <% end %>
    </ul>
</li>