<h3>
  <%= Test.model_name.human %> "<%= @question.test.title %>"
</h3>
<h4>
  <%= Question.model_name.human %>: <%= @question.body %>
</h4>
<div class='mb-5'>
  <h5>
    <%= t('.answers', count: @question.answers.count) %></h5>
  <ul>
    <%= render @question.answers %>
  </ul>
</div>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question), class: 'btn btn-primary' %>
<%= link_to t('.back_to_test'), admin_test_path(@question.test), class: 'btn btn-primary' %>
