<h1><%= Test.model_name.human %> <%= @question.test.title %></h1>
<h2> Вопрос: <%= @question.body %></h2> 

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.back_to_test'), admin_test_path(@question.test) %>
