<h1><%= t('.categories_title') %></h1>
<p>
  <%= link_to t('.new'), new_admin_category_path,
  class: 'btn btn-primary'  %>
</p>
<table class='table'>
  <thead>
    <tr>
      <td><%= t('.title') %></td>
      <td><%= t('.tests_count') %></td>
      <td colspan='3'>Actions</td>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
