<table class='table'>
  <thead>
    <tr>
      <th><%= t('.image') %> </th>
      <th><%= t('.description') %> </th>
      <th><%= t('.rule') %> </th>
      <th><%= t('.parameter') %> </th>
      <th colspan="2"><%= t('.actions') %> </th>
    </tr>
  </thead>
  <tbody>
    <%= render @badges %>
  </tbody>
</table>
<%= link_to t('.new'), new_admin_badge_path, class: 'btn btn-primary' %>
