<%= turbo_frame_tag 'question' do %>
  <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
    <%= content_tag :div, '', class: 'progress-bar',
    data: { controller: 'progress', question_no: @passage.current_no,
    question_total: @passage.test.questions.count } %>
  </div>
  <div class='d-flex align-items-center'>
    <h4 class='mt-3'>
      <%= @passage.current_question.body %>
    </h4>
    <div class='gist'>
      <%= form_with url: gist_passage_path(@passage), data: { turbo: false } do |inside| %>
        <%= inside.submit t('.gist_question'), method: :post, class: 'btn btn-sm btn-warning ' %>
      <% end %>
    </div>
    <div style='margin-left: auto' class='text-muted'>
      <div>
        <%= Question.model_name.human %> #
        <%= @passage.current_no %>
        <%= t('.out_of') %>
        <%= @passage.test.questions.count %>
      </div>
    </div>
  </div>
  <%= form_with url: passage_path(@passage), data: { turbo: true }, method: :put, class: 'pass_form'  do |form| %>
    <%= form.collection_check_boxes :answer_ids, @passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <div class='form-check'>
        <%= b.check_box id: "answers_ids_#{b.object.id}", class: 'form-check-input' %>
        <%= b.label class: 'form-check-label variant', for: "answers_ids_#{b.object.id}" %>
      </div>
    <% end %>
    <label for="submit-question" class="btn btn-primary mt-3">
      <% if @passage.current_no == @passage.test.questions.count %>
        <%= t('.complete_passage') %>
      <% else %>
        <%= t('.next_question') %>
        <i class="bi bi-arrow-right"> </i>
      <% end %>
    </label>
    <%= form.submit t('.next'), id: 'submit-question', style: 'display: none' %>
  <% end %>
<% end %>
