<%= turbo_frame_tag 'question' do %>
  <h2>
    <%= t('test_complete', test_title: @passage.test.title) %>
  </h2>
  <% if @passage.time_over? %>
    <%= msg_complete('timeout_test', 'test_timeout') %>
  <% else %>
    <% if @passage.grade >= Passage::PASSAGE_MAX %>
      <%= msg_complete('passed_test', 'test_passed') %>
    <% else %>
      <%= msg_complete('failed_test', 'test_failed') %>
    <% end %>
  <% end %>
  <%= link_to t('back_to_tests'), tests_path %>
<% end %>
