<h1>Pass <%= @passage.test.title %> Test</h1>
<b>
<p>
  Question #<%= @passage.current_no %> out of 
  <%= @passage.test.questions.count %> 
</p>
  <%= @passage.current_question.body %>
</b>
<%= form_with url: passage_path(@passage), data: { turbo: false }, method: :put  do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answers_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= form.submit %></p>
<% end %>
