<h1><%= t('.header') %></h1>
<p>
  <%= link_to t('.new'), new_admin_test_path, class: 'btn btn-primary' %>
</p>
<table class="table">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= Test.model_name.human %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= Category.model_name.human %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.total') %></th>
      <th colspan="2" class="text-center"><%= t('.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
