<h1>
    <%= Test.model_name.human %>
</h1>
<h2>
    <%= @test.title %>
</h2>
<h3>Уровень:
    <%= test_level(@test.level) %>
</h3>
<ul class="question-collection">
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ul>
<hr>
<%= link_to t('.new_question'), new_admin_test_question_path(@test), class: 'btn btn-primary' %>
<%= link_to t('.back_to_tests'), admin_tests_path, class: 'btn btn-primary' %>