<%= form_with(model: rule) do |form| %>
  <%= render 'errors', resource: rule %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :status, style: 'display: block' %>
    <%= form.collection_select :status, ['category', 'test', 'level'], :to_s, :to_s, include_blank: false %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>