<div class="container">
  <%= link_to 'Tests', tests_path %>
  <%= link_to 'Back', :back %>
  <% if logged_in? %>
    <div class="nav user">Welcome, <b>
        <%= current_user.email %></b> Guru | 
    <%= link_to 'Logout', logout_path %>    
    </div>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</div>
