<nav class="navbar navbar-expand-lg mt-2 mb-4 navbar-dark bg-secondary rounded" data-bs-theme="light">
    <div class="container-fluid">
        <%= link_to root_path, class: 'btn marg-right-2 accent' do %>
        <i class="bi bi-rocket-takeoff"></i>
        <%= t('nav_pass_test') %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="d-flex" role="search">
                <% if user_signed_in? %>
                <ul class="navbar-nav align-items-center">
                    <% if current_user.is_a?(Admin) %>
                    <li class="nav-item text-muted">
                        <%= link_to admin_tests_path, class: 'nav-link active' do %>
                        <i class="bi bi-file-ruled"></i>
                        <%= t('nav_dashboard') %>
                        <% end %>
                    </li>
                    <% end %>
                    <li class="nav-item text-muted">
                        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link active' do %>
                        <i class="bi bi-box-arrow-right"></i>
                        <%= t('signout') %>
                        <% end %>
                    </li>
                </ul>
                <% else %>
                <ul class="navbar-nav">
                    <%= link_to new_user_registration_path, class: 'nav-link active' do %>
                    <i class="bi bi-person-plus"></i>
                    <%= t('signup') %>
                    <% end %>
                    <%= link_to new_user_session_path, class: 'nav-link active' do%>
                    <%= t('signin') %>
                    <% end %>
                    <% end %>
            </div>
        </div>
    </div>
</nav>