<div class='d-flex gap-2'>
  <%= link_to admin_tests_path, class: 'lnk' do %>
    <i class="bi bi-list-stars"></i>
    <%= t('.test_tab') %>
  <% end %>
 <%= link_to 'Gists', admin_gists_path, class: 'lnk' %>
  <%= link_to t('.badges'), admin_badges_path, class: 'lnk' %>
</div>
<div class='tab-content'>
  <%= yield %>
</div>
