<!DOCTYPE html>
<html>
  <head>
    <title>Admin panel | Test Guru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body>
    <%= render 'nav' %>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
